.container, .container-fluid {
    font-family: 'Lato', 'Nunito', sans-serif;
}

.presentation {
    padding-top: 2%;
}

.form-group {
    padding-top: 2%;
}

.itineraire {
    padding-top: 5%;

}

.geo, .velo {
    padding-top: 5%;
}

h2, h3 {
    color:green;
}

img{
    width: 60%;
}

/*
overflow:hidden POUR EVITER L'ECRASEMENT
z-index
*/
@media only screen and (min-width:320px) and (max-width:480px),
(orientation:portrait) {
    #mapid {
        width: 50%;
    }

    h1 .title {
        font-size: 14px;
    }
    h2, h3 {
        font-size: 13px;
    }
    .subtitle,
    p {
        font-size: 13px;
    }

    .presentation img {
        width: 0%;

    }
}

@media only screen and (max-resolution:150dpi) and (max-width:480px),
(orientation:portrait) {

    h1 {
        font-size: 15px;
    }

    .subtitle {
        font-size: 12px;
    }

    p {
        font-size: 13px;
    }

    /* .presentation img {
        width: 70%;
    } */
}



@media only screen and (min-width:768px) and (max-width: 1024px) and (orientation:landscape) {
    .title {
        width: 25em;
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    .subtitle,
    p {
        float: none;
        width: 20em;
        font-size: 15px;
    }

}